{% include "languages.md.j2" %}

Добро пожаловать в шлюз Стрейзанд Эпик. Заставьте цензуру замолчать. Вы в одном шаге от Свободного Интернета.

Инструкции по подключению
-----------------------
---

Существует множество способов обойти цензуру, и Стрейзанд предоставляет несколько вариантов и различные протоколы в случае, если какой-либо из них ограничен.

{% if streisand_wireguard_enabled %}
* [WireGuard](/wireguard/)
{% endif %}
{% if streisand_openvpn_enabled %}
* [OpenVPN (direct)](/openvpn/)
{% if streisand_stunnel_enabled %}
* [OpenVPN (stunnel)](/openvpn/stunnel.html)
{% endif %}
{% endif %}
{% if streisand_shadowsocks_enabled %}
* [Shadowsocks](/shadowsocks/)
{% endif %}
{% if streisand_tor_enabled %}
* [Tor](/tor/)
{% endif %}
{% if streisand_openconnect_enabled %}
* [OpenConnect / Cisco AnyConnect](/openconnect/)
{% endif %}
{% if streisand_ssh_forward_enabled %}
* [SSH](/ssh/)
{% endif %}

{% if streisand_mirrored_clients %}
Облако клиентов
--------------
---

Вы можете скачать необходимое клиентское программное обеспечение непосредственно из Стрейзанд в случае блокировки официальных сайтов. Эти версии могут быть немного устаревшими (в зависимости от того, когда был настроен этот сервер), но их можно легко обновить, как только вы подключитесь к Свободному Интернету.

{% if streisand_openconnect_enabled %}
* [OpenConnect](/mirror/openconnect/)
{% endif %}
{% if streisand_openvpn_enabled %}
* [OpenVPN](/mirror/openvpn/)
{% if streisand_stunnel_enabled %}
* [stunnel](/mirror/stunnel/)
{% endif %}
{% endif %}
{% if streisand_shadowsocks_enabled %}
* [Shadowsocks](/mirror/shadowsocks/)
{% endif %}
{% if streisand_ssh_forward_enabled %}
* [SSH](/mirror/ssh/)
{% endif %}
{% if streisand_tor_enabled %}
* [Tor Browser Bundle](/mirror/tor/)
{% endif %}

{% endif %}
