{% include "languages.md.j2" %}

OpenVPN
-------
{% if streisand_stunnel_enabled %}
Если соединения OpenVPN блокируются в вашей стране, попробуйте использовать [OpenVPN (stunnel)](/openvpn/stunnel.html) инструкции, которые помогут обернуть ваш OpenVPN-трафик в зашифрованный туннель, чтобы он выглядел как стандартный трафик TLS.
{% endif %}
#### Примечание о файлах конфигурации ####
По соображениям безопасности этот OpenVPN был настроен так, чтобы разрешать только одно клиентское соединение на каждый файл. Попытка повторно использовать клиентские сертификаты приведет к отключению существующего клиентского сеанса. Т.е. для каждого устройства используйте разные файлы.

---
* Platforms
  * [Windows](#windows)
  * [macOS](#macos)
  * [Linux](#linux)
  * [Linux (Ubuntu 16.04)](#linux-ubuntu-16.04)
  * [Linux (Ubuntu 17.10)](#linux-ubuntu-17.10)
  * [Linux (Ubuntu 18.04/18.10)](#linux-ubuntu-18.04)
  * [Android](#android)
  * [iOS](#ios)

<a name="windows"></a>
### Windows ###
1. Загрузите и запустите OpenVPN [Windows установщик](/mirror/#openvpn).
1. Давайте установим программу. Щелкните *Next* и примите лицензионное соглашение *I Agree* (*Я согласен*).
1. Щелкните *Next* (*Далее*) на панели *Choose Components* (*Выбор компонентов*). Оставьте все параметры по умолчанию.
1. Щелкните *Install*.
1. Может появиться уведомление о безопасности Windows с вопросом *Would you like to install this device software?* (*Хотите ли вы установить программное обеспечение для этого устройства?*). Щелкните *Install* (*Установить*).
1. Щелкните *Next* (*Далее*) на панели *Installation Complete* (*Установка завершена*).
1. Снимите флажок *Show Readme* (*Посмотреть Readme*) и щелкните *Finish* (*Завершить*).
1. Щелкните правой кнопкой мыши значок графического интерфейса OpenVPN на рабочем столе и выберите *Properties* (*Свойства*).
1. Перейдите на вкладку *Compatibility* (*Совместимость*) и активируйте флажок *Run this program as an administrator* (*Запускать эту программу от имени администратора*) в разделе *Privilege Level* (*Уровень привилегий*).
1. Установка завершена. Дважды щелкните значок графического интерфейса OpenVPN на рабочем столе, чтобы запустить приложение.
1. Загрузите один из файлов конфигурации (профилей) OpenVPN:
{% for client in vpn_client_names.results %}
   * [{{ client.stdout }}](/openvpn/{{ client.stdout }}/{{ openvpn_direct_profile_filename }})
{% endfor %}
   * *[Альтернативные профили](#sslh-profiles) доступны, если вы находитесь в сети, которая разрешает доступ только к порту `443`.*
   * *[UDP профили](#udp-profiles) доступны.*
   * *[Комбинированные профили](#combined-profiles) доступны.*
1. Щелкните правой кнопкой мыши значок OpenVPN на панели задач (снизу справа, значок похож на монитор с замком) и выберите *Import file...* (*Испортировать файл...*).
1. Выберите загруженный файл `{{ openvpn_direct_profile_filename }}` и нажмите *Open* (*Открыть*).
1. Появится уведлмление о успешном испорте *File imported successfully.* (*Файл успешно импортирован.*). Нажмите ОК.
1. Щелкните правой кнопкой мыши значок OpenVPN на панели задач (снизу справа, значок похож на монитор с замком), наведите указатель на IP адрес и выберите *Connect* (*Подключить*).
1. Появится лог подключения, если подключение удастся, то он пропадет, а на панели задач "монитор с замком" станет зеленым.
1. Готово! Можно проверить [ваш IP адрес в DuckDuckGo]({{ streisand_my_ip_url }}). Должно быть написано *Your public IP address is {{ streisand_ipv4_address }}*.

<a name="macos"></a>
### macOS ###
1. Загрузите и откройте [Tunnelblick](/mirror/#openvpn).
1. Введите свой пароль, чтобы завершить процесс установки, и нажмите *OK*.
1. Щелкните *Launch* (*Запустить*) после завершения установки.
1. Щелкните *I have configuration files* (*У меня есть файлы конфигурации*).
1. Загрузите один из файлов конфигурации (профилей) OpenVPN:
{% for client in vpn_client_names.results %}
   * [{{ client.stdout }}](/openvpn/{{ client.stdout }}/{{ openvpn_direct_profile_filename }})
{% endfor %}
   * *[Альтернативные профили](#sslh-profiles) доступны, если вы находитесь в сети, которая разрешает доступ только к порту `443`.*
   * *[UDP профили](#udp-profiles) доступны.*
   * *[Комбинированные профили](#combined-profiles) доступны.*
1. Дважды щелкните на профиль OpenVPN.
1. Вам будет предложено выбрать, должен ли профиль быть доступен для всех пользователей или только для текущего пользователя. После выбора будет предложено ввести пароль.
1. Найдите значок Tunnelblick в строке меню. Щелкните по нему и выберите *Connect* (*Подключиться*).
1. Готово! Можно проверить [ваш IP адрес в DuckDuckGo]({{ streisand_my_ip_url }}). Должно быть написано *Your public IP address is {{ streisand_ipv4_address }}*.

<a name="linux"></a>
### Linux ###
1. Установите OpenVPN:

   `sudo apt-get install openvpn` OR `sudo yum install openvpn` OR `esoteric-package-manager hipster openvpn`

   * Если установка OpenVPN через диспетчер пакетов невозможна, вы также можете загрузить и скомпилировать [исходный код OpenVPN](/mirror/#openvpn).
1. Загрузите один из файлов конфигурации (профилей) OpenVPN:
{% for client in vpn_client_names.results %}
   * [{{ client.stdout }}](/openvpn/{{ client.stdout }}/{{ openvpn_direct_profile_filename }})
{% endfor %}
   * *[Альтернативные профили](#sslh-profiles) доступны, если вы находитесь в сети, которая разрешает доступ только к порту `443`.*
   * *[UDP профили](#udp-profiles) доступны.*
   * *[Комбинированные профили](#combined-profiles) доступны.*
1. Скопируйте загруженный `{{ openvpn_direct_profile_filename }}` файл в любое место по вашему выбору. */etc/openvpn/* - хороший вариант.
1. В некоторых дистрибутивах параметр DHCP DNS, переданный с сервера OpenVPN, будет игнорироваться. Это означает, что ваши DNS-запросы по-прежнему будут маршрутизироваться через серверы вашего интернет-провайдера, что делает их уязвимыми для так называемой утечки DNS.
   * Вы можете проверить есть ли утечка DNS [здесь](https://dnsleaktest.com/).
   * Вы можете убедиться, что используются правильные DNS-серверы, добавив следующие строки в начало файла `{{ openvpn_direct_profile_filename }}`:
     * `script-security 2`
     * `up /etc/openvpn/update-resolv-conf`
     * `down /etc/openvpn/update-resolv-conf`
1. Запустите OpenVPN и передайте ему профиль .ovpn в качестве опции.

   `sudo openvpn {{ openvpn_direct_profile_filename }}`
1. Готово! Можно проверить [ваш IP адрес в DuckDuckGo]({{ streisand_my_ip_url }}). Должно быть написано *Your public IP address is {{ streisand_ipv4_address }}*.

<a name="linux-ubuntu-16.04"></a>
### Linux (Ubuntu 16.04) ###
Из-за проблемы, связанной с NetworkManager Ubuntu 16.04, вы не можете использовать плагин OpenVPN. Кроме того, вы не можете использовать версию OpenVPN, которая находится в репозиториях по умолчанию. Чтобы решить эту проблему, мы должны загрузить OpenVPN прямо из репозитория проектов.

1. Загрузите один из файлов конфигурации (профилей) OpenVPN:
{% for client in vpn_client_names.results %}
   * [{{ client.stdout }}](/openvpn/{{ client.stdout }}/{{ openvpn_direct_profile_filename }})
{% endfor %}
   * *[Альтернативные профили](#sslh-profiles) доступны, если вы находитесь в сети, которая разрешает доступ только к порту `443`.*
   * *[UDP профили](#udp-profiles) доступны.*
   * *[Комбинированные профили](#combined-profiles) доступны.*
1. Скопируйте загруженный `{{ openvpn_direct_profile_filename }}` файл в любое место по вашему выбору. */etc/openvpn/* - хороший вариант.
1. Добавьте репозиторий OpenVPN APT к своим источникам, выполнив следующие команды:

   `curl -s https://swupdate.openvpn.net/repos/repo-public.gpg | apt-key add`
   `echo "deb http://build.openvpn.net/debian/openvpn/stable xenial main" > /etc/apt/sources.list.d/openvpn-aptrepo.list`
1. Обновите и установите OpenVPN с помощью следующей команды:

   `sudo apt update && sudo apt install openvpn`
1. После завершения установки убедитесь, что у вас установлен OpenVPN версии 2.4+ с помощью следующей команды:

   `openvpn --version`
1. В некоторых дистрибутивах параметр pushed DHCP DNS с сервера OpenVPN будет проигнорирован. Это означает, что ваши DNS-запросы по-прежнему будут маршрутизироваться через серверы вашего провайдера, что делает их уязвимыми для так называемой утечки DNS.
   * Вы можете проверить есть ли утечка DNS [здесь](https://dnsleaktest.com/).
   * Вы можете убедиться, что используются правильные DNS-серверы, добавив следующие строки в начало файла `{{ openvpn_direct_profile_filename }}`:
     * `script-security 2`
     * `up /etc/openvpn/update-resolv-conf`
     * `down /etc/openvpn/update-resolv-conf`
1. Запустите OpenVPN и передайте ему профиль .ovpn в качестве опции.

   `sudo openvpn {{ openvpn_direct_profile_filename }}`
1. Готово! Можно проверить [ваш IP адрес в DuckDuckGo]({{ streisand_my_ip_url }}). Должно быть написано *Your public IP address is {{ streisand_ipv4_address }}*.

<a name="linux-ubuntu-17.10"></a>
### Linux (Ubuntu 17.10) ###
It's preferable to configure Ubuntu using the OpenVPN plugin for NetworkManager. This gives you a nice little interface for connecting, and it properly handles the necessary DNS changes when you connect/disconnect. Unfortunately, the plugin does not support .ovpn profiles, so the list of steps is a little more involved.

1. First, download the OpenVPN CA certificate, the certificate `.crt` file, private key `.key` file, and TLS authentication key `ta.key` file for one of the client profiles below:
{% for client in vpn_client_names.results %}
   * {{ client.stdout }}
      * CA Cert: [ca.crt](/openvpn/{{ client.stdout }}/ca.crt)
      * Client Cert: [{{ client.stdout }}.crt](/openvpn/{{ client.stdout }}/client.crt)
      * Client Key: [{{ client.stdout }}.key](/openvpn/{{ client.stdout }}/client.key)
      * TA key: [ta.key](/openvpn/{{ client.stdout }}/ta.key)
{% endfor %}
1. Install the OpenVPN plugin for NetworkManager.

   `sudo apt-get install network-manager-openvpn-gnome`
1. Open your *System Settings*.
1. Click the *Network* tab on the left side.
1. Click the *+* button under *VPN*.
1. Select *OpenVPN*.
1. Enter `{{ streisand_server_name }}` for the *Name*.
1. Enter `{{ openvpn_server }}` for the *Gateway*.
1. Make sure *Certificates (TLS)* is selected for the *Type*.
1. Select the `client.crt` file you downloaded for the *User Certificate*.
1. Select the `ca.crt` file you downloaded for the *CA Certificate*.
1. Select the `client.key` file you downloaded for the *Private Key*.
1. Click the *Advanced* button.
1. Go to the *General* tab.
   * Check *Use custom gateway port* and enter `{{ openvpn_port }}` as its value.
     * Port `443` is available as an alternative if you are on a network that only allows access to the standard HTTPS port.
     * You can also use port `{{ openvpn_port_udp }}` for a UDP connection.
     * A combined profile which cycles through UDP port `{{ openvpn_port_udp }}`, TCP port `{{ openvpn_port }}` and `{{ openvpn_port_sslh }}` is also available.
   * Check *Use a TCP connection* unless you have chosen to use the UDP port or the combined profile.
1. Go to the *Security* tab.
   * Select `{{ openvpn_cipher }}` as the *Cipher*.
   * Select `{{ openvpn_auth_digest }}` as the *HMAC Authentication*.
1. Go to the *TLS Authentication* tab.
   * Under *Server Certificate Check* choose `verify name exactly` and enter `{{ openvpn_server_common_name.stdout }}` as its value.
   * Check *Verify peer (server) certificate usage signature*.
   * Go to *Additional TLS authentication or encryption*.
     * Select `TLS-Crypt` as the *Mode*.
     * Select the `ta.key` file you downloaded from the client-files directory for the *Key File*.
   * Click *OK*.
1. Click *Add*
1. Select the VPN in the left-hand menu, and flip the switch to *ON*. You can also enable/disable the VPN by clicking on the WiFi/Network icon in the menu bar, scrolling to *VPN Connections*, and clicking on its name.
1. Готово! Можно проверить [ваш IP адрес в DuckDuckGo]({{ streisand_my_ip_url }}). Должно быть написано *Your public IP address is {{ streisand_ipv4_address }}*.

<a name="linux-ubuntu-18.04"></a>
### Linux (Ubuntu 18.04/18.10) ###
It's preferable to configure Ubuntu using the OpenVPN plugin for NetworkManager. This gives you a nice little interface for connecting, and it properly handles the necessary DNS changes when you connect/disconnect. Unfortunately, the plugin does not support .ovpn profiles, so the list of steps is a little more involved.

1. First, download the OpenVPN CA certificate, the certificate `.crt` file, private key `.key` file, and TLS authentication key `ta.key` file for one of the client profiles below:
{% for client in vpn_client_names.results %}
   * {{ client.stdout }}
      * CA Cert: [ca.crt](/openvpn/{{ client.stdout }}/ca.crt)
      * Client Cert: [{{ client.stdout }}.crt](/openvpn/{{ client.stdout }}/client.crt)
      * Client Key: [{{ client.stdout }}.key](/openvpn/{{ client.stdout }}/client.key)
      * TA key: [ta.key](/openvpn/{{ client.stdout }}/ta.key)
{% endfor %}
1. Install the OpenVPN plugin for NetworkManager.

   `sudo apt-get install network-manager-openvpn-gnome`
1. Open your *System Settings*.
1. Click the *Network* tab on the left side.
1. Click the *+* button under *VPN*.
1. Select *OpenVPN*.
1. Enter `{{ streisand_server_name }}` for the *Connection name*.
1. Enter `{{ openvpn_server }}` for the *Gateway*.
1. Make sure *Certificates (TLS)* is selected for the *Type*.
1. Select the `ca.crt` file you downloaded for the *CA Certificate*.
1. Select the `client.crt` file you downloaded for the *User Certificate*.
1. Select the `client.key` file you downloaded for the *User Private Key*.
1. Click the *Advanced* button.
1. Go to the *General* tab.
   * Check *Use custom gateway port* and enter `{{ openvpn_port }}` as its value.
     * Port `443` is available as an alternative if you are on a network that only allows access to the standard HTTPS port.
     * You can also use port `{{ openvpn_port_udp }}` for a UDP connection.
     * A combined profile which cycles through UDP port `{{ openvpn_port_udp }}`, TCP port `{{ openvpn_port }}` and `{{ openvpn_port_sslh }}` is also available.
   * Check *Use a TCP connection* unless you have chosen to use the UDP port or the combined profile.
1. Go to the *Security* tab.
   * Select `{{ openvpn_cipher }}` as the *Cipher*.
   * Select `{{ openvpn_auth_digest }}` as the *HMAC Authentication*.
1. Go to the *TLS Authentication* tab.
   * Under *Server Certificate Check* choose `verify name exactly` and enter `{{ openvpn_server_common_name.stdout }}` as its value.
   * Check *Verify peer (server) certificate usage signature*.
   * Go to *Additional TLS authentication or encryption*.
     * Select `TLS-Crypt` as the *Mode*.
     * Select the `ta.key` file you downloaded from the client-files directory for the *Key File*.
   * Click *OK*.
1. Click *Add*
1. Find the VPN and flip the switch to *ON*. You can also enable/disable the VPN by clicking on the WiFi/Network icon in the menu bar, scrolling to *VPN Connections*, and clicking on its name.
1. Готово! Можно проверить [ваш IP адрес в DuckDuckGo]({{ streisand_my_ip_url }}). Должно быть написано *Your public IP address is {{ streisand_ipv4_address }}*.

<a name="android"></a>
### Android ###
1. Установите [OpenVPN for Android](https://play.google.com/store/apps/details?id=de.blinkt.openvpn).
1. Загрузите один из файлов конфигурации (профилей) OpenVPN:
{% for client in vpn_client_names.results %}
   * [{{ client.stdout }}](/openvpn/{{ client.stdout }}/{{ openvpn_direct_profile_filename }})
{% endfor %}
   * *[Альтернативные профили](#sslh-profiles) доступны, если вы находитесь в сети, которая разрешает доступ только к порту `443`.*
   * *[UDP профили](#udp-profiles) доступны.*
   * *[Комбинированные профили](#combined-profiles) доступны.*
1. Скопируйте файл `{{ openvpn_direct_profile_filename }}` на свой телефон или скачайте на телефоне, если это возможно.
1. Запустите OpenVPN для Android.
1. Коснитесь значка (папки со стрелкой вниз) в правом верхнем углу экрана.
1. Выберите профиль `{{ openvpn_direct_profile_filename }}` который вы скопировали на свой телефон или скачали.
1. После завершения импорта коснитесь значка сохранения (дискеты) в правом нижнем углу экрана.
1. Нажмите на профиль.
1. Примите предупреждение о подключении Android VPN.
1. Готово! Можно проверить [ваш IP адрес в DuckDuckGo]({{ streisand_my_ip_url }}). Должно быть написано *Your public IP address is {{ streisand_ipv4_address }}*.
1. По желанию в *Settings* (*Настройках*) можно установить *Default VPN* (*Стандартный VPN*), если добавлено несколько профилей и добавить в шторку уведомлений android кнопку для быстрого подключения к VPN по необходимости или для постоянного использования.

<a name="ios"></a>
### iOS ###
1. Устанновите [OpenVPN Connect](https://itunes.apple.com/us/app/openvpn-connect/id590379981) and launch it.
1. Загрузите один из файлов конфигурации (профилей) OpenVPN:
{% for client in vpn_client_names.results %}
   * [{{ client.stdout }}](/openvpn/{{ client.stdout }}/{{ openvpn_direct_profile_filename }})
{% endfor %}
   * *[Альтернативные профили](#sslh-profiles) доступны, если вы находитесь в сети, которая разрешает доступ только к порту `443`.*
   * *[UDP профили](#udp-profiles) доступны.*
   * *[Комбинированные профили](#combined-profiles) доступны.*
1. Откройте iTunes на своем компьютере и подключите телефон.
1. Выберите свой телефон, перейдите на вкладку *Apps* (*Приложения*), и найдите OpenVPN в разделе *File Sharing* (*Обмен файлами*).
1. Перетащите загруженный файл `{{ openvpn_direct_profile_filename }}` в окно обмена файлами.
1. OpenVPN на вашем телефоне сообщит, что *1 new OpenVPN profile is available for import* (*1 новый профиль OpenVPN доступен для импорта*).
1. Нажмите зеленую + кнопку , чтобы импортировать профиль.
1. Коснитесь ползунка, чтобы подключиться к серверу OpenVPN.
1. Готово! Можно проверить [ваш IP адрес в DuckDuckGo]({{ streisand_my_ip_url }}). Должно быть написано *Your public IP address is {{ streisand_ipv4_address }}*.

<a name="sslh-profiles"></a>
### Alternate unified profiles for access via port 443 ###
{% for client in vpn_client_names.results %}
* [{{ client.stdout }}](/openvpn/{{ client.stdout }}/{{ openvpn_sslh_profile_filename }})
{% endfor %}

<a name="udp-profiles"></a>
### Alternate unified profiles for access via UDP port {{ openvpn_port_udp }} ###
{% for client in vpn_client_names.results %}
* [{{ client.stdout }}](/openvpn/{{ client.stdout }}/{{ openvpn_direct_udp_profile_filename }})
{% endfor %}

<a name="combined-profiles"></a>
### Alternate profile that will cycle through UDP port {{ openvpn_port_udp }}, TCP port {{ openvpn_port }}, and TCP port {{ openvpn_port_sslh }} ###
{% for client in vpn_client_names.results %}
* [{{ client.stdout }}](/openvpn/{{ client.stdout }}/{{ openvpn_combined_profile_filename }})
{% endfor %}
