{% include "languages.md.j2" %}

OpenVPN (завернутый в stunnel)
----------------------------

Эти инструкции следует использовать только в том случае, если соединения OpenVPN активно блокируются в вашей стране или вашим интернет-провайдером. Производительность будет лучше, если вы сможете подключиться напрямую, но в некоторых странах (Китае, Иране, Беларуси и др.) используется Deep Packet Inspection для обнаружения и предотвращения подключений OpenVPN. Некоторые компании поступают так же. Если вы не попадаете в эту категорию, обратитесь к стандартным [OpenVPN инструкциям](/openvpn/).

Следуя этим шагам, ваш OpenVPN-трафик будет заключен в зашифрованный туннель, и это будет выглядеть как стандартный SSL-трафик, направляемый на порт, где ожидается этот тип трафика. Это не позволяет DPI определять истинную природу пакетов, тем самым позволяя вам свободно использовать OpenVPN.

#### Заметка о файлах конфигурации ####
По соображениям безопасности этот OpenVPN был настроен так, чтобы разрешать только одно клиентское соединение на каждый файл. Попытка повторно использовать клиентские сертификаты приведет к отключению существующего клиентского сеанса. Т.е. для каждого устройства используйте разные файлы конфигурации.

---
* Платформы
  * [Windows](#windows)
  * [macOS](#macos)
  * [Linux](#linux)
  * [Android](#android)
  * [iOS](#ios)

<a name="windows"></a>
### Windows ###
#### Установка Stunnel ####
1. Загрузите и запустите [установщик stunnel](/mirror/#stunnel).
1. Скачайте файл `stunnel.conf`, настроенный для работы с этим сервером:
   * [stunnel.conf](/openvpn/stunnel.conf)
1. Откройте каталог, в который вы установили stunnel. Для большинства пользователей это будет либо *C:\Program Files\stunnel*, либо *C:\Program Files (x86)\stunnel*.
1. Перетащите загруженный файл `stunnel.conf` в этот каталог.
1. Дважды щелкните на файл *stunnel.exe* в каталоге установки, чтобы запустить службу.

Теперь вы готовы установить OpenVPN и настроить его для маршрутизации трафика через stunnel. Пользовательский профиль .ovpn, который предварительно настроен для работы вместе с файлом `stunnel.conf` упростит это.

#### Установка OpenVPN ####
1. Загрузите и запустите OpenVPN [Windows установщик](/mirror/#openvpn).
1. Давайте установим программу. Щелкните *Next* и примите лицензионное соглашение *I Agree* (*Я согласен*).
1. Щелкните *Next* (*Далее*) на панели *Choose Components* (*Выбор компонентов*). Оставьте все параметры по умолчанию.
1. Щелкните *Install*.
1. Может появиться уведомление о безопасности Windows с вопросом *Would you like to install this device software?* (*Хотите ли вы установить программное обеспечение для этого устройства?*). Щелкните *Install* (*Установить*).
1. Щелкните *Next* (*Далее*) на панели *Installation Complete* (*Установка завершена*).
1. Снимите флажок *Show Readme* (*Посмотреть Readme*) и щелкните *Finish* (*Завершить*).
1. Щелкните правой кнопкой мыши значок графического интерфейса OpenVPN на рабочем столе и выберите *Properties* (*Свойства*).
1. Перейдите на вкладку *Compatibility* (*Совместимость*) и активируйте флажок *Run this program as an administrator* (*Запускать эту программу от имени администратора*) в разделе *Privilege Level* (*Уровень привилегий*).
1. Установка завершена. Дважды щелкните значок графического интерфейса OpenVPN на рабочем столе, чтобы запустить приложение.
1. Загрузите один из файлов конфигурации (профилей) OpenVPN:
{% for client in vpn_client_names.results %}
   * [{{ client.stdout }}](/openvpn/{{ client.stdout }}/{{ openvpn_stunnel_profile_filename }})
{% endfor %}
1. Щелкните правой кнопкой мыши значок OpenVPN на панели задач (снизу справа, значок похож на монитор с замком) и выберите *Import file...* (*Испортировать файл...*).
1. Выберите загруженный файл `{{ openvpn_direct_profile_filename }}` и нажмите *Open* (*Открыть*).
1. Появится уведлмление о успешном испорте *File imported successfully.* (*Файл успешно импортирован.*). Нажмите ОК.
1. Щелкните правой кнопкой мыши значок OpenVPN на панели задач (снизу справа, значок похож на монитор с замком), наведите указатель на IP адрес и выберите *Connect* (*Подключить*).
1. Появится лог подключения, если подключение удастся, то он пропадет, а на панели задач "монитор с замком" станет зеленым.
1. Готово! Можно проверить [ваш IP адрес в DuckDuckGo]({{ streisand_my_ip_url }}). Должно быть написано *Your public IP address is {{ streisand_ipv4_address }}*.

<a name="macos"></a>
### macOS ###
#### Установка Stunnel ####
1. Установите [Homebrew](http://brew.sh/), if you haven't already.
1. Установите stunnel, используя Homebrew:

   `brew install stunnel`

   * Если установка Homebrew невозможна, вы также можете загрузить и скомпилировать [исходный код stunnel](/mirror/#stunnel).
1. Загрузите файл `stunnel.conf`, настроенный для работы с этим сервером:
   * [stunnel.conf](/openvpn/stunnel.conf)
1. Замените файл stunnel.conf по умолчанию на настроенную версию. Обязательно обновите исходное местоположение, если вы загрузили файл в другой каталог.

   `cp ~/Downloads/stunnel.conf /usr/local/etc/stunnel/`
1. Запустите stunnel:

   `stunnel`

Теперь вы готовы установить OpenVPN и настроить его для маршрутизации трафика через stunnel. Пользовательский профиль .ovpn, который предварительно настроен для работы вместе с файлом `stunnel.conf` упростит это.

#### Установка OpenVPN ####
1. Загрузите и откройте [Tunnelblick](/mirror/#openvpn).
1. Введите свой пароль, чтобы завершить процесс установки, и нажмите *OK*.
1. Щелкните *Launch* (*Запустить*) после завершения установки.
1. Щелкните *I have configuration files* (*У меня есть файлы конфигурации*).
1. Загрузите один из файлов конфигурации (профилей) OpenVPN:
{% for client in vpn_client_names.results %}
   * [{{ client.stdout }}](/openvpn/{{ client.stdout }}/{{ openvpn_stunnel_profile_filename }})
{% endfor %}
1. Дважды щелкните на профиль OpenVPN.
1. Вам будет предложено выбрать, должен ли профиль быть доступен для всех пользователей или только для текущего пользователя. После выбора будет предложено ввести пароль.
1. Найдите значок Tunnelblick в строке меню. Щелкните по нему и выберите *Connect* (*Подключиться*).
1. Готово! Можно проверить [ваш IP адрес в DuckDuckGo]({{ streisand_my_ip_url }}). Должно быть написано *Your public IP address is {{ streisand_ipv4_address }}*.

<a name="linux"></a>
### Linux ###
#### Установка Stunnel ####
1. Установите stunnel командой:

   `sudo apt-get install stunnel` или `sudo yum install stunnel` или `esoteric-package-manager hipster stunnel`

   * Если установка stunnel через диспетчер пакетов невозможна, вы также можете загрузить и скомпилировать [исходный код stunnel](/mirror/#stunnel).
1. Загрузите файл `stunnel.conf`, настроенный для работы с этим сервером:
   * [stunnel.conf](/openvpn/stunnel.conf)
1. Скопируйте `stunnel.conf` в нужное место. Обязательно обновите исходное местоположение, если вы переместили каталог в другое место.

   `cp ~/Downloads/stunnel.conf /etc/stunnel/`
1. Пользователи Ubuntu должны настроить файл `/etc/default/stunnel4` и убедиться, что для `ENABLED` установлено значение `1`.
1. Перезапустите службу stunnel:

   `sudo service stunnel4 restart` или `sudo service stunnel restart`

Теперь вы готовы установить OpenVPN и настроить его для маршрутизации трафика через stunnel. Пользовательский профиль .ovpn, который предварительно настроен для работы вместе с файлом `stunnel.conf` упростит это.

#### Установка OpenVPN ####
1. Установите OpenVPN:

   `sudo apt-get install openvpn` или `sudo yum install openvpn` или `esoteric-package-manager hipster openvpn`

   * Если установка OpenVPN через диспетчер пакетов невозможна, вы также можете загрузить и скомпилировать [исходный код OpenVPN](/mirror/#openvpn).
1. Загрузите один из файлов конфигурации (профилей) OpenVPN:
{% for client in vpn_client_names.results %}
   * [{{ client.stdout }}](/openvpn/{{ client.stdout }}/{{ openvpn_stunnel_profile_filename }})
{% endfor %}
1. Скопируйте загруженный `{{ openvpn_direct_profile_filename }}` файл в любое место по вашему выбору. */etc/openvpn/* - хороший вариант.
1. В некоторых дистрибутивах параметр pushed DHCP DNS с сервера OpenVPN будет проигнорирован. Это означает, что ваши DNS-запросы по-прежнему будут маршрутизироваться через серверы вашего провайдера, что делает их уязвимыми для так называемой утечки DNS.
   * Вы можете проверить есть ли утечка DNS [здесь](https://dnsleaktest.com/).
   * Вы можете убедиться, что используются правильные DNS-серверы, добавив следующие строки в начало файла `{{ openvpn_direct_profile_filename }}`:
     * `script-security 2`
     * `up /etc/openvpn/update-resolv-conf`
     * `down /etc/openvpn/update-resolv-conf`
1. Запустите OpenVPN и передайте ему профиль .ovpn в качестве опции:

   `sudo openvpn {{ openvpn_stunnel_profile_filename }}`
1. Готово! Можно проверить [ваш IP адрес в DuckDuckGo]({{ streisand_my_ip_url }}). Должно быть написано *Your public IP address is {{ streisand_ipv4_address }}*.

Плагин OpenVPN для NetworkManager, похоже, очень запутался в том, как он должен маршрутизировать трафик, когда вы подключаетесь к серверу OpenVPN через обернутое stunnel-соединение. Добавление информации о маршруте вручную не помогает. Поэтому, в отличие от [инструкций не относящихся к stunnel](/openvpn), описанные выше шаги также являются рекомендуемым методом подключения для Ubuntu.

<a name="android"></a>
### Android ###
#### Установка SSLDroid ####
1. Загрузите ключ PKCS #12:
   * [stunnel.p12](/openvpn/stunnel.p12)
1. Скопируйте файл `stunnel.p12` на свой телефон, если он был скачан с компьютера.
1. Установите [SSLDroid](https://play.google.com/store/apps/details?id=hu.blint.ssldroid) и запустите.
1. Коснитесь кнопки меню ( ⋮ ).
1. Нажмите *Add tunnel*.
1. Выберите поле *Tunnel name* и введите `{{ streisand_server_name }}`.
1. Теперь выберите *Local port* и напишите `{{ stunnel_local_port }}`.
1. Нажмите на *Remote host* и напишите `{{ openvpn_server }}`.
1. Коснитесь *Remote port* и введите `{{ stunnel_remote_port }}`.
1. Нажмите кнопку обзора ( … ) рядом с *PKCS12 file* и выберите файл `stunnel.p12`, который вы скачали на первом этапе. Вы можете оставить поле *PKCS12 pass* пустым.
1. Тапните *Apply*.

Теперь вы готовы установить OpenVPN для Android и настроить его для маршрутизации трафика через SSLDroid, который подключен к порту stunnel на удаленном сервере. Пользовательский профиль .ovpn, который предварительно настроен для работы вместе с SSLDroid, упростит это.

#### Установка OpenVPN ####
1. Установите [OpenVPN for Android](https://play.google.com/store/apps/details?id=de.blinkt.openvpn).
1. Загрузите один из файлов конфигурации (профилей) OpenVPN:
{% for client in vpn_client_names.results %}
   * [{{ client.stdout }}](/openvpn/{{ client.stdout }}/{{ openvpn_stunnel_profile_filename }})
{% endfor %}
1. Скопируйте файл `{{ openvpn_direct_profile_filename }}` на свой телефон или скачайте на телефоне, если это возможно.
1. Запустите OpenVPN для Android.
1. Коснитесь значка (папки со стрелкой вниз) в правом верхнем углу экрана.
1. Выберите профиль `{{ openvpn_direct_profile_filename }}` который вы скопировали на свой телефон или скачали.
1. После завершения импорта коснитесь значка сохранения (дискеты) в правом нижнем углу экрана.
1. Нажмите на профиль.
1. Примите предупреждение о подключении Android VPN.
1. Готово! Можно проверить [ваш IP адрес в DuckDuckGo]({{ streisand_my_ip_url }}). Должно быть написано *Your public IP address is {{ streisand_ipv4_address }}*.
1. По желанию в *Settings* (*Настройках*) можно установить *Default VPN* (*Стандартный VPN*), если добавлено несколько профилей и добавить в шторку уведомлений android кнопку для быстрого подключения к VPN по необходимости или для постоянного использования.

<a name="ios"></a>
iOS
---
Недоступно. На данный момент stunnel доступен только для IOS устройств с джейлбрейком через Cydia.
