{% include "languages.md.j2" %}

Мост Tor
----------

---
* Платформы
  * [Компьютеры](#desktops)
  * [Android](#android)
  * [iOS](#ios)

<a name="desktops"></a>
### Компьютеры ###
1. Скачайте [Tor Browser Bundle](/mirror/tor/) для своей платформы. Подключаемый транспорт трафика Obfsproxy obfs4, который он включает, позволит вам использовать сеть Tor, даже если ваш интернет-провайдер активно использует DPI, пытаясь заблокировать весь трафик Tor.
1. Запустите Tor Browser Bundle.
1. Нажмите кнопку *Configure* (*Настроить*) под текстом, в котором говорится, что *I need to configure bridge, firewall, or proxy settings* (*Мне нужно настроить параметры моста, брандмауэра или прокси*).
1. Ответьте *Yes* (*Да*) на вопрос *Does your Internet Service Provider (ISP) block or otherwise censor connections to the Tor Network?* (*Блокирует ли ваш интернет-провайдер (ISP) или иным образом подвергает цензуре подключения к сети Tor?*).
1. Выберите параметр *Enter custom bridges* (*Ввести настраиваемые мосты*) и вставьте следующую информацию в текстовое поле:

         {{ tor_obfs4_bridge_line }}
1. Ответьте на вопрос о конфигурации локального прокси. В большинстве случаев ответ будет *No* (*Нет*).
1. Нажмите *Connect* (*Подключить*).

Вы готовы к работе! Tor подключился к серверу *{{ tor_bridge_nickname.stdout }}* и ваш зашифрованный трафик Tor полностью скрыт obfsproxy, поэтому он совсем не похож на трафик Tor!

<a name="android"></a>
### Android ###
#### Настройка через QR код Orbot (для всех приложений, поддерживающих прокси) ####
1. Скачайте [Orbot](https://play.google.com/store/apps/details?id=org.torproject.android) и [Barcode Scanner](https://play.google.com/store/apps/details?id=com.google.zxing.client.android), запустите Orbot.
1. Нажмите кнопку Меню ( ⋮ ).
1. Нажмите *QR Codes* (*QR коды*).
1. Нажмите *Scan BridgeQR* (*Сканировать BridgeQR*).
1. Отсканируйте следующий QR-код. Это автоматически настроит Orbot для подключения к этому серверу с помощью подключаемого транспорта obfs4:

   ![Tor obfs4 QR code](/tor/tor-obfs4-qr-code.png)
1. Вы должны перезапустить Orbot, чтобы изменения вступили в силу. Нажмите кнопку *Menu* (*Меню*), выберите *Exit* (*Выйти*), запустите Orbot снова.
1. Нажмите кнопку *START* (*СТАРТ*) для запуска Orbot.

#### Настройка через ручной ввод данных Orbot (для всех приложений, поддерживающих прокси) ####
1. Скачайте [Orbot](https://play.google.com/store/apps/details?id=org.torproject.android) и запустите.
1. Нажмите кнопку Меню ( ⋮ ).
1. Нажмите *Settings* (*Настройки*).
1. Найдите пупкт *Bridges* (*Мосты*), нажмите и вставьте следующую информацию в текстовое поле.

         {{ tor_obfs4_bridge_line }}
1. Нажмите ОК.
1. Вы должны перезапустить Orbot, чтобы изменения вступили в силу. Выйдите из настроек в главное меню (действие "назад"). Нажмите кнопку *Menu* (*Меню*), выберите *Exit* (*Выйти*), запустите Orbot снова.
1. Нажмите кнопку *START* (*СТАРТ*) для запуска Orbot.
1. В поле *Tor-Enabled Apps* нажмите на значок настройки ( ⚙ ) и выберите приложения, которые должны использовать прокси Orbot.

#### Настройка моста в браузере TOR ####
1. Скачайте [Tor Browser](https://play.google.com/store/apps/details?id=org.torproject.torbrowser) и запустите.
1. Нажмите на кнопку настройки в верхнем правом углу ( ⚙ ).
1. Включите переключатель *Internet is censored here* (*Интернет здесь подвергается цензуре*).
1. Нажмите на фиолетовое слово *Change* (*Изменить*)
1. Откроется интерфейс ввода информации о мосте с 3 строками. Введите в первую строку следующие данные:

         {{ tor_obfs4_bridge_line }}
1. Теперь выйдите в главное меню и нажмите *Connect* (*Подключить*). Если вы успешно подключаетесь, значит мост *{{ tor_bridge_nickname.stdout }}* работает верно.

<a name="ios"></a>
### iOS ###
1. Скачайте [Onion Browser](https://itunes.apple.com/us/app/onion-browser/id519296448?mt=8) и запустите его.
1. Нажмите кнопку меню в нижней части экрана и выберите *Browser Settings* (*Настройки браузера*).
1. Прокрутите вниз и коснитесь *Configure Bridges* (*Настроить мосты*).
1. Нажмите *Enter Custom Bridges* (*Ввести пользовательские мосты*).
1. Коснитесь значка камеры в правом нижнем углу. Возможно, вам потребуется включить доступ к камере для браузера Onion в настройках iOS.
1. Отсканируйте следующий QR-код. Это автоматически настроит Onion Browser для подключения к этому серверу с помощью подключаемого транспорта obfs4:

   ![Tor obfs4 QR code](/tor/tor-obfs4-qr-code.png)
1. Нажмите *OK*, когда отобразится подтверждение.
1. Коснитесь *Save* (*Сохранить*).
1. Нажмите *Restart app* (*Перезапустить приложение*).
1. Запустите приложение заново. Если вы успешно подключаетесь, значит мост *{{ tor_bridge_nickname.stdout }}* работает верно.
